@page "{id?}"
@model DFCU.Interview.WebClient.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}


@{
    if (Model.Status is null)
    {
        <div class="alert alert-info">
            @Model.Message
        </div>
    }
    else
    {
        <div class="transaction-details">
            <label>Status for Transaction: <span class="fw-bold">@Model.TransactionId</span> is</label> <br />
            <label>Status:</label> @Model.Status <br />
        </div>
    }
}